<div class="container-fluid">
    <h1 class="text-center">Interactive live polling</h1>
    <h5 class="text-center">Mentimeter is a free live polling tool for engaging audiences of all sizes. Use live polls, Q&A and open responses to help you listen to your audience and enable 
      everyone to contribute using their smartphones.</h5>
  </div>
  
  <div class="container">
    <img src="" />
    <h1 class="text-center">Easy-to-use live polling tool</h1>
    <h5 class="text-center">Use live polling to engage your audience. Create Multiple Choice questions with predefined answers 
      to get fast responses from your audience that are presented with beautiful visualizations in real-time.</h5>
  </div>
  
  <h1 class="text-center"> You've got #workgoals.
    We'll help you meet them.</h1>
  