



/* .bg-1
  {
      background-color: #F5F5F5;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #F5F5F5; 
    
  }
  .head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .teamimages
  {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 5px;
  }

  
 .centered{
  padding: 50px;
  color: white;
  text-align: center;
} 

h6
{

  color: #e5e7e9 ;
  font-family: sans-serif;
}


img{
    width:200px;
    height: 200px;
}

 */
