<div class="container-fluid bg-2 "><br />
    <h1 class="margin text-center font-weight-bold head">ABOUT US</h1><br />
    <h4 class="text-center content">The leading global marketplace for learning and instruction. By connecting students
      all over the world to the best instructors, RiseandGrind is helping individuals reach their goals and pursue their
      dreams. We offer hundreds of free video tutorials, the most effective programs on the web and helpful information.
      Our website is committed to delivering informative articles and videos from some of the top experts in the Tech
      industry.</h4>
    <br />
    <hr />
    <br />
    <div class="container">
      <h3 class="text-center font-weight-bold">OUR TEAM</h3>
      <div class="row">
        <div class="col-sm-6">
          <img class=" teamimages" />
          <h5 class="text-center">Vikas</h5>
          <p class="text-center">IT Trainee at FIS</p>
        </div>
        <div class="col-sm-6">
          <img class=" teamimages" />
          <h5 class="text-center">Traversy Media</h5>
          <p class="text-center">Web development</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid whycontainer">
    <div class="centered">
      <h2 class="text-center"><strong>WHY US ?</strong></h2><br /><br />
      <h4>Receive a hand-picked selection of our best articles and videos verified by certified trainers, delivered to you
        at free of cost. With Rise And Grind, land to your dream job with proper guidance .</h4>
      <hr />
  
  
    </div>
  </div> 