/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.full-width{
    width: 100%;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.bdr-rds-5{
    border-radius: 5px !important;
}
.bdr-rds-10{
    border-radius: 10px !important;
}
.bdr-rds-15{
    border-radius: 15px !important;
}
.bdr-rds-20{
    border-radius: 20px !important;
}
.bdr-rds-25{
    border-radius: 25px !important;
}

.ml-10{
    margin-left: 10px !important;
}
.mr-10{
    margin-right: 10px !important;
}

.formContainer{
    border:1px solid grey;
    padding:20px;
    border-radius: 5px;
} 